html
    head
        title=title
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(name="description" content="")
        meta(name="author" content="")

    body
        h1 개인정보 수집 이용 동의서
        p
        | 개인정보 수집 이용에 대한 동의<br />
        | 수집하는 개인정보 항목 : Email 주소<br />
        | 개인정보의 수집 및 이용 목적 : 정보 전달 등에 이용 - Email 주소<br />
        | 개인정보의 보유 및 이용 기간 : 구독 종료까지<br />


