extends layout

block content
  .overlay
  .masthead
      .masthead-bg
      .container.h-100
          .row.h-100
              .col-12.my-auto
                  .masthead-content.text-white.py-5.py-md-0
                      h1.mb-3 CAUCSE!
                      p.mb-5
                          | If you want to recieve caucsenotice,<br />
                          strong Just Enter Your Email! <br />
                          | 중앙대 ict, cse, sw 공지사항을 보내드립니다 <br />
                      .input-group.input-group-newsletter
                          input.form-control#email(type='email', placeholder='Enter email...', aria-label='Enter email...', aria-describedby='basic-addon')
                          .input-group-append
                              button.btn.btn-secondary#send(type='button') Notify Me!
                      h7.mb-5
                          | 구독하면
                          a(href='agree')   개인정보수집 동의서
                          | 에 동의하는 것으로 간주됩니다.
  .social-icons
      ul.list-unstyled.text-center.mb-0
          li.list-unstyled-item
            a#mail(href='#')
              i.fa.fa-envelope(data-toggle="tooltip" title="minn951120@naver.com,\n makerdark98@naver.com")
  script(src="javascripts/index.js")
